<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HomeServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="HomeServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44398/HomeService.asmx"
                binding="basicHttpBinding" bindingConfiguration="HomeServiceSoap"
                contract="HomeServiceReference.HomeServiceSoap" name="HomeServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>